* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  /* font-weight: 400; */
}
body {
  background-color: #1a2c5b;
}

.box-shadow {
  width: 500px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  border-radius: 15px;
  filter: blur(125px);
}

.select-box,
.player-board,
.result-box,
.box-shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.select-box {
  background-color: #eeeeee;
  padding: 20px 25px 25px;
  border-radius: 7px;
  max-width: 330px;
  width: 100%;
  transition: all 0.3s ease;
}
.select-box.hide {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.select-box header {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.select-box .title {
  font-size: 20px;
  font-weight: 500;
  /* padding-bottom: 10px; */
  margin: 20px 0;
}
.options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* padding: 5px; */
}
.options button {
  width: 100%;
  font-size: 18px;
  transition: all 0.3s ease;
  padding: 8px 0;
  border: none;
  outline: none;
  background-color: #1a2c5b;
  border-radius: 7px;
  color: #eeeeee;
  cursor: pointer;
}

.playerX {
  margin-right: 5px;
}
.playerO {
  margin-left: 5px;
}
.options button:hover,
.btn button:hover {
  background-color: #eeeeee;
  color: #1a2c5b;
  /* border: #1a2c5b 1px solid; */
  transition: all 0.3s ease;
}

.player-board {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.player-board.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.player-board .details {
  background: #eeeeee;
  padding: 7px;
  border-radius: 7px;
}
.player-board section span {
  display: block;
  margin: 3px;
  height: 80px;
  width: 80px;
  background: #eeeeee;
  border-radius: 7px;
  font-size: 40px;
  text-align: center;
  line-height: 80px;
  color: #1a2c5b;
}
.player-board section {
  font-family: "Lexend", sans-serif;
  display: flex;
}
.player-area {
  margin-top: 15px;
}
.players {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.players.active span:first-child {
  color: #1a2c5b;
}
.players.active span:nth-child(2) {
  color: #eeeeee;
}

.players.active .slider {
  left: 50%;
}

.details span {
  color: #1a2c5b;
  width: 100%;
  border-radius: 5px;
  padding: 7px 0;
  font-size: 19px;
  cursor: default;
  text-align: center;
  position: relative;
  z-index: 5;
  transition: all 0.3s ease;
}
.details span:first-child {
  color: #eeeeee;
}
.details .slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: #1a2c5b;
  border-radius: 5px;
  z-index: 2;
  transition: all 0.3s ease;
}

.result-box {
  background: #eeeeee;
  padding: 20px;
  border-radius: 7px;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.result-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.won-text {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.won-text p {
  font-weight: 600;
  margin: 0 10px;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn button {
  font-size: 18px;
  transition: all 0.3s ease;
  padding: 8px 20px;
  border: none;
  outline: none;
  background-color: #1a2c5b;
  border-radius: 7px;
  color: #eeeeee;
  cursor: pointer;
}

.lobby a {
  left: 10%;
  top: 8%;
  font-family: "Kode Mono", monospace;
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
  color: #1a2c5b;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  transition: all 0.3s ease;
  text-decoration: none;
  box-shadow: #000000 0px 7px 0px 0px;
}
.lobby a:active {
  top: 9%;
  box-shadow: #eeeeee 0px 0px 0px 0px;
  /* transform: translateY(5px); */
  transition: 0.1s;
}
.lobby a:hover {
  background-color: #cacaca;
}
@media (max-width: 782px) {
  .lobby a {
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
  }
}
