body {
  margin: 0;
  padding: 0;
  background-color: #b8dff0;
  height: 1000px;
}
.nav-bar {
  font-family: "Kode Mono", monospace;
  background-color: #1a2c5b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 10px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
.link {
  transition: 0.2s;
  color: #7971ea;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  padding-left: 75px;
}
.logo {
  transition: 0.3s;
  color: #7971ea;
  text-decoration: none;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 20px;
}
.nav-bar > .link:hover,
.logo:hover {
  color: #9b96ec;
  text-shadow: 0 0 2px #7971ea, 0 0 4px #7971ea, 0 0 8px #7971ea,
    0 0 15px #7971ea, 0 0 30px #7971ea;
  transition: 0.2s;
}
span {
  padding-left: 60px;
  color: #eeeeee;
}
.game-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-btn {
  font-family: "Kode Mono", monospace;
  border: 5px solid #1a2c5b;
  padding: 30px 50px;
  background-color: #eeeeee;
  color: #7971ea;
  text-decoration: none;
  font-weight: 900;
  border-radius: 20px;
  font-size: 30px;
  transition: 0.45s;
}
.box-shadow {
  width: 200px;
  height: 130px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-radius: 15px;
  filter: blur(30px);
}
.game-btn:hover {
  background-color: #1a2c5b;
  color: #eeeeee;
  text-shadow: 0 0 2px #7971ea, 0 0 4px #7971ea, 0 0 8px #7971ea,
    0 0 15px #7971ea, 0 0 30px #7971ea;
  border: 4px solid #eeeeee;
  transition: 0.3s;
}
