body {
  margin: 0;
  padding: 0;
  background-color: #b8dff0;
  height: 1000px;
}
.nav-bar {
  font-family: "Kode Mono", monospace;
  background-color: #1a2c5b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 5px 10px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
.link {
  transition: 0.2s;
  color: #eeeeee;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  padding-left: 75px;
}
.logo {
  margin-left: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.3s;
  color: #eeeeee;
  text-decoration: none;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  white-space: nowrap;
}
.logo span {
  opacity: 0;
  animation: appear 0.3s forwards;
}

.logo span:nth-child(1) {
  animation-delay: 0.1s;
}
.logo span:nth-child(2) {
  animation-delay: 0.2s;
}
.logo span:nth-child(3) {
  animation-delay: 0.3s;
}
.logo span:nth-child(4) {
  animation-delay: 0.4s;
}
.logo span:nth-child(5) {
  animation-delay: 0.5s;
}
.logo span:nth-child(6) {
  animation-delay: 0.6s;
}
.logo span:nth-child(7) {
  animation-delay: 0.7s;
}
.logo span:nth-child(8) {
  animation-delay: 0.8s;
}
.logo span:nth-child(9) {
  animation-delay: 0.9s;
}
.logo span:nth-child(10) {
  animation-delay: 1s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-bar > .link:hover,
.logo:hover {
  color: #eeeeee;
  text-shadow: 0 0 2px #7971ea, 0 0 4px #7971ea, 0 0 8px #7971ea,
    0 0 15px #7971ea, 0 0 30px #7971ea;
  transition: 0.2s;
}
span {
  color: #eeeeee;
}
.game-container {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-btn {
  font-family: "Kode Mono", monospace;
  border: 7px solid #1a2c5b;
  padding: 20px 40px;
  background-color: #eeeeee;
  color: #1a2c5b;
  text-decoration: none;
  font-weight: 900;
  /* border-radius: 20px; */
  font-size: 50px;
  transition: 0.45s;
}
.box-shadow {
  width: 250px;
  height: 150px;
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-radius: 15px;
  filter: blur(50px);
}
.game-btn:hover {
  background-color: #1a2c5b;
  color: #eeeeee;
  text-shadow: 0 0 2px #7971ea, 0 0 4px #7971ea, 0 0 8px #7971ea,
    0 0 15px #7971ea, 0 0 30px #7971ea;
  border: 4px solid #eeeeee;
  transition: 0.3s;
}
