body {
  height: 100%;
  background-color: #1a2c5b;
}
.nav-bar.play-zone {
  background-color: #eeeeee;
  box-shadow: 0 500px 1000px rgba(0, 0, 0, 0.4);
  color: #1a2c5b;
}
.nav-bar.play-zone > .link {
  color: #1a2c5b;
}

.nav-bar.play-zone > .link:hover {
  color: #1a2c5b;
  text-shadow: 0 0 2px #91adf5, 0 0 4px #91adf5, 0 0 8px #91adf5,
    0 0 15px #91adf5, 0 0 20px #91adf5, 0 0 35px #91adf5;
}

.nav-bar.play-zone > .logo span {
  color: #1a2c5b;
}

.nav-bar.play-zone > .logo:hover {
  color: #1a2c5b;
  text-shadow: 0 0 2px #91adf5, 0 0 4px #91adf5, 0 0 8px #91adf5,
    0 0 15px #91adf5, 0 0 20px #91adf5, 0 0 35px #91adf5;
}
.games-container {
  height: 100%;
  width: 100%;
}

.info {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-rows: 1.3fr 3fr 0.5fr;
  grid-template-columns: 1.3fr 3fr 0.5fr;

  align-items: center;
  box-shadow: 0 700px 1100px rgba(0, 0, 0, 0.3);
  margin-top: 125px;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  /* padding-top: 250px; */
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 75px;
  font-weight: 900;
  color: #eeeeee;
  padding-right: 50px;
}
.info > p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  font-weight: 900;
  color: #eeeeee;
  padding-left: 65px;
}
.btn-play-zone {
  font-family: "Kode Mono", monospace;
  border: 5px solid #eeeeee;
  padding: 20px 40px;
  background-color: #1a2c5b;
  color: #eeeeee;
  text-decoration: none;
  font-weight: 900;
  font-size: 50px;
  transition: 0.45s;
  margin-left: 100px;
  transition: 0.2s;
  grid-auto-columns: 100px;
  margin-right: 150px;
}
.btn-play-zone:hover {
  background-color: #eeeeee;
  color: #1a2c5b;
  scale: 1.15;
  transition: 0.2s;
}
.footer.play-zone.play-zone {
  position: absolute;
  top: 4600px;
  background-color: #eeeeee;
}
.footer.play-zone.play-zone > .footer-left,
.footer.play-zone.play-zone > .footer-right {
  color: #1a2c5b;
}
.more-less {
  padding-bottom: 100px;
}
.img {
  width: 250px;
  margin-left: 100px;
}
