body {
  height: 100%;
  background-color: #1a2c5b;
}
.nav-bar.play-zone {
  background-color: #f7f6f1;
  box-shadow: 0 100px 400px rgba(0, 0, 0, 0.4);
  color: #1a2c5b;
}
.nav-bar.play-zone > .link {
  color: #1a2c5b;
}

.nav-bar.play-zone > .link:hover {
  color: #1a2c5b;
  text-shadow: 0 0 2px #91adf5, 0 0 4px #91adf5, 0 0 8px #91adf5,
    0 0 15px #91adf5, 0 0 20px #91adf5, 0 0 35px #91adf5;
}

.nav-bar.play-zone > .logo span {
  color: #1a2c5b;
}

.nav-bar.play-zone > .logo:hover {
  color: #1a2c5b;
  text-shadow: 0 0 2px #91adf5, 0 0 4px #91adf5, 0 0 8px #91adf5,
    0 0 15px #91adf5, 0 0 20px #91adf5, 0 0 35px #91adf5;
}
.games-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 350px 350px;
  gap: 40px;
}

.info {
  background-color: #eeeeee;
  width: 300px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  box-shadow: 0 100px 300px rgba(0, 0, 0, 0.3);
  margin-top: 75px;
  align-items: center;
  margin-left: 25px;
  transition: all 0.2s ease;
  border-radius: 10px;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-weight: 900;
  color: #1a2c5b;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: #1a2c5b 5px solid;
  padding-bottom: 6px;
  cursor: default;
}

.btn-play-zone {
  font-family: "Kode Mono", monospace;
  border: 0;
  border-radius: 0 0 10px 10px;
  padding: 10px 30px;
  letter-spacing: 1.5px;
  background-color: #eeeeee;
  color: #1a2c5b;
  text-decoration: none;
  box-shadow: #000000 0px 10px 0px 0px;
  font-weight: 900;
  font-size: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}
.btn-play-zone:hover {
  background-color: #1a2c5b;
  color: #eeeeee;
  transition: all 0.3s ease;
}
.btn-play-zone:active {
  box-shadow: #1a2c5b 0px 5px 0px 0px;
  transform: translateY(9px);
  transition: all 0.1s ease;
}
.footer.play-zone.play-zone {
  position: absolute;
  bottom: -55%;
  background-color: #eeeeee;
}
.footer.play-zone.play-zone > .footer-left,
.footer.play-zone.play-zone > .footer-right {
  color: #1a2c5b;
}
.img {
  width: 150px;
}
.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
}

.tic-tac-toe {
  grid-column-start: 1;
  grid-column-end: 3;
}
.word-scramble {
  grid-column-start: 3;
  grid-column-end: 5;
}
.hangman {
  grid-column-start: 5;
  grid-column-end: 7;
}
.guess-the-word {
  grid-column-start: 7;
  grid-column-end: 9;
}
.memory-card {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
}
.rock-paper-scissors {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
}
.more-less {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
}

.info:hover {
  transition: all 0.2s ease;
  box-shadow: 0 0 1000px rgba(255, 255, 255, 0.2);
}
