body {
  height: 100%;
  background-color: #1a2c5b;
}
.nav-bar.play-zone {
  background-color: #f7f6f1;
  box-shadow: 0 100px 400px rgba(0, 0, 0, 0.4);
  color: #1a2c5b;
}
.nav-bar.play-zone > .link {
  color: #1a2c5b;
}

.nav-bar.play-zone > .link:hover {
  color: #1a2c5b;
  text-shadow: 0 0 2px #91adf5, 0 0 4px #91adf5, 0 0 8px #91adf5,
    0 0 15px #91adf5, 0 0 20px #91adf5, 0 0 35px #91adf5;
}

.nav-bar.play-zone > .logo span {
  color: #1a2c5b;
}

.nav-bar.play-zone > .logo:hover {
  color: #1a2c5b;
  text-shadow: 0 0 2px #91adf5, 0 0 4px #91adf5, 0 0 8px #91adf5,
    0 0 15px #91adf5, 0 0 20px #91adf5, 0 0 35px #91adf5;
}
.games-container {
  display: grid;
  grid-template-columns: repeat(8, minmax(100px, 1fr));
  grid-template-rows: auto auto;
  gap: 40px;
}

.info {
  background-color: #eeeeee;
  width: 300px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  box-shadow: 0 100px 300px rgba(0, 0, 0, 0.3);
  margin-top: 75px;
  align-items: center;
  margin-left: 25px;
  transition: all 0.2s ease;
  border-radius: 10px;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend", sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: #1a2c5b;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: #1a2c5b 5px solid;
  padding-bottom: 6px;
  cursor: default;
}

.btn-play-zone {
  font-family: "Kode Mono", monospace;
  border: 0;
  border-radius: 0 0 10px 10px;
  padding: 10px 30px;
  letter-spacing: 1.5px;
  background-color: #eeeeee;
  color: #1a2c5b;
  text-decoration: none;
  box-shadow: #000000 0px 10px 0px 0px;
  font-weight: 900;
  font-size: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}
.btn-play-zone:hover {
  background-color: #1a2c5b;
  color: #eeeeee;
  transition: all 0.3s ease;
}
.btn-play-zone:active {
  box-shadow: #1a2c5b 0px 5px 0px 0px;
  transform: translateY(9px);
  transition: all 0.1s ease;
}
.footer {
  position: absolute;
  bottom: -53%;
  background-color: #eeeeee;
}
.footer > .footer-left,
.footer > .footer-right {
  color: #1a2c5b;
}
.img {
  width: 150px;
}
.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
}

.tic-tac-toe {
  grid-column: 1 / span 2;
}
.word-scramble img {
  width: 120%;
}
.word-scramble {
  grid-column: 3 / span 2;
}
.hangman {
  grid-column: 5 / span 2;
}
.guess-the-word {
  grid-column: 7 / span 2;
}
.guess-the-word img {
  width: 70%;
}
.memory-card {
  grid-column: 2 / span 2;
  grid-row: 2;
}
.memory-card img {
  width: 60%;
}
.rock-paper-scissors {
  grid-column: 4 / span 2;
  grid-row: 2;
}
.more-less {
  grid-column: 6 / span 2;
  grid-row: 2;
}

.info:hover {
  transition: all 0.2s ease;
  box-shadow: 0 0 1000px rgba(255, 255, 255, 0.2);
}
.module {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  background-color: #eeeeee;
  z-index: 50;
  border-radius: 25px;
  text-align: center;
  color: #1a2c5b;
  font-family: "Lexend", sans-serif;
  box-shadow: 0px 0px 1000px 150px rgba(0, 0, 0, 0.5);
}
.overlay {
  position: fixed;
  width: 100%;
  height: 155%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 49;
}
.close-module {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 60px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.info-game {
  font-size: 25px;
  padding-top: 25px;
}
.info-game-name {
  font-size: 55px;
  padding-bottom: 10px;
  border-bottom: 10px solid #1a2c5b;
}
.gif {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.hidden {
  display: none;
}
@media (max-width: 600px) {
  .games-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .games-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 20px;
    padding-bottom: 50px;
  }
  .tic-tac-toe,
  .word-scramble,
  .hangman,
  .guess-the-word,
  .memory-card,
  .rock-paper-scissors,
  .more-less {
    grid-column: 1;
  }

  /* Задаємо рядок для кожного елемента */
  .tic-tac-toe {
    margin-top: 20px;
    grid-row: 1;
  }
  .word-scramble {
    grid-row: 2;
  }
  .hangman {
    grid-row: 3;
  }
  .guess-the-word {
    grid-row: 4;
  }
  .memory-card {
    grid-row: 5;
  }
  .rock-paper-scissors {
    grid-row: 6;
  }
  .more-less {
    grid-row: 7;
  }
  .info {
    width: 250px;
    margin-top: 0;
    margin-right: 20px;
  }
  .tic-tac-toe {
    margin-top: 20px;
  }
  .name {
    font-size: 20px;
  }
  .btn-play-zone {
    font-size: 20px;
    padding: 10px 20px;
  }
  .footer {
    display: none;
  }
  .module {
    width: 300px;
    height: 300px;
    top: 50%;
  }
  .info-game {
    font-size: 20px;
    padding-top: 40px;
  }
  .info-game-name {
    font-size: 24px;
  }
  .close-module {
    font-size: 40px;
    top: 3px;
    left: 8px;
  }
}
