* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1a2c5b;
}
.container {
  width: 450px;
  border-radius: 7px;
  background-color: #eeeeee;
}
.container h2 {
  font-size: 25px;
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.content {
  margin: 25px 20px 35px;
}
.word,
.corOrWrng {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1a2c5b;
  margin-bottom: 10px;
  user-select: none;
}
.corOrWrng {
  margin-top: 15px;
  font-size: 50px;
}
.details {
  margin: 0 0 20px;
}
.details p {
  font-size: 18px;
  margin-bottom: 10px;
}
.hint,
.time {
  display: none;
  user-select: none;
}
.container input {
  width: 100%;
  height: 60px;
  padding: 0 16px;
  font-size: 18px;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
  pointer-events: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.buttons button {
  border: none;
  outline: none;
  color: #eeeeee;
  cursor: pointer;
  padding: 15px 25px;
  font-size: 17px;
  border-radius: 7px;
  transition: all 0.3s ease;
}
.buttons .refresh-word {
  background-color: #eeeeee;
  color: #1a2c5b;
  border: #1a2c5b 3px solid;
}
.buttons .check-word {
  background-color: #1a2c5b;
  border: #1a2c5b 3px solid;
}
.refresh-word:hover {
  background-color: #1a2c5b;
  color: #eeeeee;
}
.check-word:hover {
  background-color: #eeeeee;
  color: #1a2c5b;
}
.lobby a {
  left: 10%;
  top: 8%;
  font-family: "Kode Mono", monospace;
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
  color: #1a2c5b;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  transition: all 0.3s ease;
  text-decoration: none;
  box-shadow: #000000 0px 7px 0px 0px;
}
.lobby a:active {
  top: 9%;
  box-shadow: #eeeeee 0px 0px 0px 0px;
  /* transform: translateY(5px); */
  transition: 0.1s;
}
.lobby a:hover {
  background-color: #cacaca;
}
.box-shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  width: 500px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  border-radius: 15px;
  filter: blur(125px);
}
.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert {
  pointer-events: none;
  background-color: #e3e3e3;
  border: #1a2c5b 2px solid;
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}
.alert:last-child {
  margin-bottom: 0;
}
.alert.hidden {
  opacity: 0;
}
.blurred-text {
  filter: blur(5px);
  transition: all 0.3s ease;
}
@media (max-width: 782px) {
  body {
    padding: 0 25px;
  }
  .word,
  .corOrWrng {
    letter-spacing: 0;
  }
  .lobby a {
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
  }
  .select-box {
    max-width: 100%;
  }
  .box-shadow {
    width: 100%;
    height: 100%;
  }
}
